body{
    margin:0;
    font-family: 'Montserrat', sans-serif !important
}
/* navbar css */
.navbar{
    background: white !important;
}

.navbar-nav{
    margin-left: auto !important;

}

.navbar-nav li a{
    text-decoration: none;
    padding: 0 15px;
    text-transform: uppercase;
    color: black;
    font-size: 13px;
    font-weight: 500;
    transition: .3s ease-in-out;
}

.navbar-nav li a:hover{
    color: tomato;
}

.icons a{
    color: black;
    text-decoration: none;
    padding: 0 10px;
    transition: .3s ease-in-out;

}

.icons a:hover{
    color: tomato;
}

/* banner */

.banner{
    background:linear-gradient(#000000b1,#000000a7),url(./image/banner1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.banner h6{
    letter-spacing: 3px;
}
.banner h5{
    font-weight: 400;
    letter-spacing: 2px;
}
.banner h1{
    font-size: 60px;
    font-weight: 700;
}
.banner button{
    padding: 8px 25px;
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20px;
    transition: .3s ease-in-out;
}

.banner button:hover{
    background: #ffffff79;
}
/* products section */
  .product-section{
    padding-left: 20px;
    padding-right: 20px;
  }
/*  */

.product-section h3{
    font-size: 23px;
    font-weight: 700
}

.product-section p{
    font-size: 15px;
    font-weight: 500;
    color: #767676;
}

/* product parents grid */

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }

    .product img{
     width: 100%;
     height: 100%;
    }

    .product{
        position: relative;
        transition: .3s ease-in-out !important;
        cursor: pointer;
    }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: #e1e1e183;
        color: black;
        opacity: 0;
        cursor: pointer;
        /* flex */
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
        /*  */
        transition: .3s ease-in-out !important
    
    }

    .product:hover .overlay{
        height: 100%;
        opacity: 1;
    }

    .overlay h6{
        font-size: 13px;
        font-weight: 500;
    }

    .overlay span{
        font-size: 15px;
        font-weight: 500;
    }

    .star small{
        font-size: 10px;
        display: inline-block;
        margin-top: 2px;
    }
    .buy-now {
        display: flex;
        align-items: center;
        gap: 4px;
    }
    
    .buy-now a{
        position: relative;
        top: 70px;
        background: black;
        text-decoration: none;
        font-size: 15px;
        color: white;
        /* height width */
        width: 40px;
        height: 40px;
        line-height: 40px;
        transition: .3s ease-in-out;
    }
    .buy-now a:hover{
        color: black;
        background: #F2F4F3;
    }

    /* footer */
    .footer{
        padding: 30px 20px;
        background: black;
        color: white;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        }

        .links{
            padding-left: 50px;
        }


        .about-footer p {
            font-size: 13px;
            padding-top: 20px;
            line-height: 22px;
        }

        .links h6{
            font-size: 15px;
            font-weight: 600;
        }

        .links a {
            font-size: 13px;
            text-decoration: none;
            color: white !important;
            margin-top: 5px;
           
        }
       .links span{
        display: inline-block;
        padding-right: 8px;
        font-size: 17px;
        position: relative;
        top: 2px;
       }
       .flex-icon{
        display: flex;
       }
    /*  */

    .about-footer span{
        font-size: 13px;
        padding-top: 20px;
        line-height: 22px;
    }

    .about-footer h6{
        font-size: 15px;
        font-weight: 600;  
    }

    .input-field input{
        padding: 10px;
        width: 100%;
        font-size: 12px;
        border: none;
        outline: none;
    }

    .input-field button{
        padding: 12px 30px;
        font-size: 12px;
        font-weight: 700;
        border: 1px solid #bbbbbb;
        background: none;
        color:#bbbbbb;
        margin-top: 10px;
        transition: .3s ease-in-out;
    }

    .input-field button:hover{
        background: #bbbbbb;
        color: black;
    }

    .stay-connected{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        border-top: 1px solid #ffffff21;
        border-bottom: 1px solid #ffffff21;
        padding: 15px 0;
    }

    .stay-connected a {
        text-decoration: none;
        color: white !important;
        padding: 0 8px;
    }
    .stay-connected h5{
        font-size: 16px;
        font-weight: 700;
        margin: 0;
    }

    .last-title{
        text-align: center;
    }

    .last-title span{
        font-size: 12px;
        padding-top: 20px;
        line-height: 22px;
        padding-top: 25px;
        display: block;
    }


    /*  */

    .video-section{
        position: relative;
        width: 100%;
        height: 100vh;
    }
    .video-section video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .black-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #0000008a;
        /* flex item */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }

    .black-overlay h1{
        font-size: 60px;
        font-weight: 700;
    }
    .black-overlay button{
        padding: 8px 25px;
        background: none;
        border: 2px solid white;
        color: white;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-top: 20px;
        transition: .3s ease-in-out;
    }
    
    .black-overlay button:hover{
        background: #ffffff79;
    }

    .black-overlay p{
        width: 60%;
        text-align: center;
        margin: 0;
    }

    .product-title {
        position: relative;
    }

    .about-image-1{
        position: absolute;
        top: 120px;
        left: 450px;

    }

    .product-title h1{
        font-size: 140px;
        margin-top: 20px;
        font-weight: 800;
        /* -webkit-text-stroke: 1px #000000;
        color: transparent; */
    }